
	<div class="col-md-12 price_form">
		<div class="col-md-12 price_tag">
			<p class="text-center">Here now?</p>
		</div>
		<p class="text-center">How many game(s) back is it right now?</p>
		<div class="form-group">
			<%= form_for ([@court, @court.seengames.new]) do |f| %>
				<%= f.select :games, [["0",0], ["1",1], ["2",2], ["3",3], ["4",4], ["5",5]], prompt: "Games Back", class: "form-control" %>
				<%= f.hidden_field :court_id, value: @court.id %><br>
				<br><div class="text-center">
					<%= f.submit "Submit", class: "btn btn-primary" %>
				</div><br>
			<% end %>
		</div>
	</div>
