/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.avatar-small {
	width: 28px;
}

.avatar-medium {
	width: 48px;
}

.avatar-large {
	width: 68px;
}

.avatar-full {
	width: 100%;
}

body {
	color: #white;
	background-color: #white;
}

.container {
	width: 80%;
}

.container-home {
  position:absolute;
  left:0;
  right:0;
}

.navbar {
  padding-bottom:5px;
  margin-bottom:0;
  border: 1px solid black;
 }

/* change navbar link color */
/* .navbar-nav > li > a {
  color:#d7d7d7!important;
} */


.btn-primary.btn {
	border: 1px solid #FA8320;
	border-radius: 2px;
	font-weight: bold;
	background-color: #FA8320;
	color: #fff;
	padding: 10px 25px 10px 25px;
}

.btn-primary.btn:hover, .btn-primary.btn:focus {
	border-color: #fcad6b;
	background-color: #fcad6b;
	outline: none;
}

.btn-primary.btn:active {
	border-color: #fcad6b;
	background-color: #fcad6b;
	outline:none;
}

.btn-default.btn {
	width:100%;
	border-radius:2px;
	padding: 0;
	margin-top: 10px;
}

.panel-default .panel-heading {
	color: white;
	background-color: #575757;
	font-size: 18px;
	font-weight: 400;
}

.row-space-1 {
	margin-top: 6px;
	margin-bottom: 6px;
}

.row-space-2 {
	margin-top: 12px;
	margin-bottom: 12px;
}

.row-space-3 {
	margin-top: 24px;
	margin-bottom: 24px;
}

.description {
	color: #575757;
	font-size: 15px;
	font-weight: 500;
	line-height: 25px;
}

.form-group {
	margin-bottom: 25px;
}

.form-control {
	border-radius: 2px;
	height: 4em;
}

.sidebar-list {
	padding-left:0;
	list-style:none;
}

.sidebar-item {
	padding:10px 0;
	font-size:16px;
	color: #82888a;
	border-bottom: 1px solid #CCC;
}

.sidebar-link {
	color: #82888a;
	text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
	color: #cacccd;
	text-decoration: none;
}

.active.sidebar-link {
	color: #565a5c;
	font-weight:bold;
	text-decoration:none;
}

label {
	color: #565a5c;
	font-size: 1.1em;
	font-weight: 500;
	margin-bottom: 10px;
}

select {
	color: #565a5c;
	background-color:#fff;
	width:100%;
	border:1px solid #ccc;
	border-radius:2px;
	padding:10px;
	appearance:none;
	-moz-appearance: none; /* Firefox */
	-webkit-appearnace: none; /* Safari and Chrome */
}

/*.select:before {
	content: '\25bc';
	font-size: 1.2em;
	position: absolute;
	color: #82888A;
	top:40px;
	right:30px;
	transform: scale (1, 1);
}*/

input[type="checkbox"] {
	height: 1.25em;
	width: 1.25em;
	margin-bottom:-.25em;
	margin-right: 5px;
	vertical-align:top;
	border:1px solid #c4c4c4;
	border-radius:2px;
	appearance:none;
	-moz-appearance: none; /* Firefox */
	-webkit-appearnace: none; /* Safari and Chrome */
}

input[type="checkbox"]:checked:before {
	content: "\2713";
	position:absolute;
	font-size:.95em;
	text-align:center;
	width:1.25em;
	color:#ff5a5f;
}

.btn-file {
	position:relative;
	overflow:hidden;
}

.btn-file input[type=file] {
	position:absolute;
	top:0;
	right:0;
	min-width:100%;
	min-height:100%;
	font-size:100px;
	text-align:right;
	filer:alpha(opacity=0);
	opacity:0;
	outline:none;
	background:white;
	cursor:inherit;
	display:block;
}

.panel-heading.preview {
	padding:0;
}

.panel-heading.preview img {
	width:100%;
}

.amenities li {
	margin-bottom: 10px;
	list-style-type: none;
}

.text-line-through {
	text-decoration: line-through
}

.reservation-table td {
	width:100%;
	border:1px solid #dce0e0;
	padding:10px;
}

.wide {
	width: 100%;
}

.price_tag {
	color: black;
	font-size: 20px;
	padding: 10px;
	margin-bottom: 10px;
}

.price_form {
	background-color: #f1f1f1;
}

.conversation {
	color: #7f7f7f;
	padding:10px;
}

.conversation:hover, .conversation:focus {
	background-color:#f4f4f5;
}

#wrapper {
	width:960px;
	margin:0 auto;
}

#sidebar {
	float:right;
	width:340px;
}

#sidebar #widget {
	width:340px;
	height:600px;
	margin-bottom:10px;
}

#article {
	width:560px;
}

.search-home {
	vertical-align:center;
}

hr {
	clear:both;
}

.wide75 {
	width:75%;
}

.wide50 {
	width:50%;
}

.clear {
	clear:both;
}


.jumbotron-text {
  color:white;
  padding-top: 100px;
}

.mainsearchbar {
  padding-top:100px;
}

.filter {
  float:right;
  margin-right:10px;
  border:1px solid #FA8320;
  border-radius: 2px;
  color:white;
  background-color:#FA8320;
}

.filter.btn:hover, .filter.btn:focus {
  border-color: #fcad6b;
  background-color: #fcad6b;
  outline: none;
}

.form-control[readonly] {
	background-color:white;
}

/* resize carousel image */
.carousel-inner > .item > img {
	height:200px;
	width:100%;
}

.facebook-button {
	border: 1px solid #3B5998;
	background-color: #3B5998;
	color: white;
}

.btn .facebook-button a:hover {
	border: 1px solid #3B5998;
	background-color: #ea4c89;
	color: white;
}

.google-button {
	border: 1px solid #db3236;
	background-color: #db3236;
	color: white;
}

.navbar-search {
	
	
}

.openhourfield {
	width: 80px;
	border-radius: 4px;
}

.signupbutton {
	border: 1px solid #FA8320;
	border-radius: 4px;
	background-color: #FA8320;
	color: white!important;
	height: 30px;
}

.navbar-default .navbar-nav-home > li > a {
	color:white;
	display:inline;
}