<p>Welcome to SPORTSPACE <%= @fullname %>!</p>

<p>If you're ready to find nearby pick-up players to play with and public spaces to play at, confirm your account email <%= link_to 'here', confirmation_url(@resource, confirmation_token: @token) %>!</p>

SPORTSPACE
Play Pick-up.
