<div class="panel panel-default">
	<div class="panel-body text-center">
		<p>How many player(s) are here?</p>
		<div class="form-group">
			<%= form_for ([@court, @court.seenplayers.new]) do |f| %>
				<%= f.text_field :players, placeholder: "Players Present", class: "form-control" %>
				<%= f.hidden_field :court_id, value: @court.id %><br>
				<div class="text-center">
					<%= f.submit "Submit", class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
</div>